<!DOCTYPE html>

<html lang = "en-US">

  <head>

    <!-- CSS Links -->
		<link rel = "stylesheet" type = "text/css" href = "/CSS/generalStyle.css">
    <link rel = "stylesheet" type = "text/css" href = "/CSS/explorerStyle.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Color paletet -->
    <link rel="stylesheet" href = "/CSS/material-design-color-palette.min.css">

    <!-- Title page -->
		<title>Ikeo World - Explore !</title>

  </head>


  <body>


    <!-- Top menu -->
    <div class = "topMenu">

      <!-- Buttons to navigate in the website -->
      <button class = "homeButton" onClick = "location.href='/home/'">

          <i class = "zmdi zmdi-home zmdi-hc-2x mdc-text-white-dark" style="margin-left: -90px;"></i>
          <span class = "textButton" >Home</span>

      </button>


      <button class = "explorerButton" onClick = "location.href='/explorer/'">

          <i class = "zmdi zmdi-globe zmdi-hc-2x mdc-text-white-dark" style="margin-left: -90px;"></i>
          <span class = "textButton" >Explorer</span>

      </button>
    </div>

    <!-- Content -->
    <div class = 'content'>

      <div class = "divTitleIkeo">
        <span class = "textTitleIkeo"><%=IkeoWorld.name%> world</span>
      </div>

      <div class = "LeftMenu">

        <% for (iteratorFrancky = 0 ; iteratorFrancky < FranckyFamily.length; iteratorFrancky++) { %>
          <div class = 'Francky'>

            <p>
              <i class = "zmdi zmdi-<%=FranckyFamily[iteratorFrancky].icon%> zmdi-hc-2x mdc-text-<%=FranckyFamily[iteratorFrancky].color%>"></i>
              <span class = 'nameFrancky'><%=FranckyFamily[iteratorFrancky].name %></span>
            </p>

            <p class = 'informationFrancky'><b>Position X : </b><span id = "posXFrancky<%=iteratorFrancky%>"><%=FranckyFamily[iteratorFrancky].positionX %></span></p>
            <p class = 'informationFrancky'><b>Position Y : </b><span id = "posYFrancky<%=iteratorFrancky%>"><%=FranckyFamily[iteratorFrancky].positionY %></span></p>
            <p class = 'informationFrancky'><b>Orientation : </b><span id = "orientationFrancky<%=iteratorFrancky%>"><%=FranckyFamily[iteratorFrancky].orientation %></span></p>

          </div>

        <% } %>

        <hr class = 'sepMenuLeft'/>

        <span class = 'controlTitle'>Controls :</span>
        <br /><br />

        <ul class="zmdi-hc-ul">

          <li><i class="zmdi-hc-li zmdi zmdi-chevron-left"></i><span class = 'textControl'>turn 90° left</span></li>
          <li><i class="zmdi-hc-li zmdi zmdi-chevron-right"></i><span class = 'textControl'>turn 90° right</span></li>
          <li><i class="zmdi-hc-li zmdi zmdi-format-color-text"></i><span class = 'textControl'>move forward</span></li>

        </ul>

        <br /><br />

      </div>

      <p id = 'messageFrancky'>Let's explorer the world !</p>

      <table class = 'tableIkeoWorld'>
        <% for (var iteratorRowBox = 1; iteratorRowBox <= IkeoWorld.height; iteratorRowBox++) { %>
          <tr class = 'rowBox'>
            <% for (var iteratorSmallBox = 1 ; iteratorSmallBox <= IkeoWorld.width ; iteratorSmallBox++) { %>
              <td class = 'box' style = 'background-color: <%=IkeoWorld.backgroundColor%>;'>

                <% for (iteratorFrancky = 0 ; iteratorFrancky < FranckyFamily.length; iteratorFrancky++) {

                    if(FranckyFamily[iteratorFrancky].positionX == iteratorSmallBox && FranckyFamily[iteratorFrancky].positionY == iteratorRowBox) { %>

                      <% if(iteratorFrancky == idFrancky) { %>

                        <div class = 'divFranckyOnMap' id = 'Francky<%=iteratorFrancky%>'
                            style = 'background-color: #80CBC4;
                                    -webkit-transition: all 0.1s ease-in-out;
                                    -moz-transition: all 0.1s ease-in-out;
                                    -o-transition: all 0.1s ease-in-out;
                                    transition: all 0.1s ease-in-out;'>
                          <i class = "zmdi zmdi-<%=FranckyFamily[iteratorFrancky].icon%>
                                      zmdi-hc-2x mdc-text-<%=FranckyFamily[iteratorFrancky].color%>"
                                      style = 'margin-left: auto; margin-right: auto; margin-top: 4px;'
                                      onClick = "location.href='/explorer/<%=iteratorFrancky%>'"></i>
                        </div>
                      <% } else { %>

                        <div class = 'divFranckyOnMap' id = 'Francky<%=iteratorFrancky%>'>
                          <i class = "zmdi zmdi-<%=FranckyFamily[iteratorFrancky].icon%>
                                      zmdi-hc-2x mdc-text-<%=FranckyFamily[iteratorFrancky].color%>"
                                      style = 'margin-left: auto; margin-right: auto; margin-top: 4px;'
                                      onClick = "location.href='/explorer/<%=iteratorFrancky%>'"></i>
                        </div>

                      <% } %>

                     <% } %>

                <% } %>
              </td>
            <% } %>
          </tr>
        <% } %>
      </table>

      <br /><br /><br /><br /><br /><br />


    </div>


    <!-- Footer -->
    <footer>

      <table class = 'tableFooter'>
        <tr>
          <td class = "cellTableFooter">
            <i class="zmdi zmdi-coffee mdc-text-white-dark zmdi-hc-2x"></i>
            <span class = "textTableFooter">Mike STX </span>
          </td>

          <td class = "cellTableFooter">
            <a href = "https://github.com/MikeSTX/">
              <i class="zmdi zmdi-github-alt mdc-text-white-dark zmdi-hc-2x" id = "iconGithub"></i>
            </a>
          </td>

          <td class = "cellTableFooter">
            <a href = "https://www.linkedin.com/in/thibault-bruhiere-30145a82?trk=hp-identity-name">
              <i class="zmdi zmdi-linkedin mdc-text-white-dark zmdi-hc-2x" id = "iconGithub"></i>
            </a>
          </td>
        </tr>
      </table>

    </footer>




    <!-- JavaScript libraries -->

    <!-- Link for bootstap framework -->
    <script src = "/javaScript/checkFranckyMovement.js"></script>
		<script src = "/javaScript/moveFrancky.js"></script>
    <script src = "/javaScript/updateFranckyInformations.js"></script>


    <!-- Event listener to keypressed -->
    <script type = "text/javascript">

      <% if (idFrancky >= 0) { %>

        addEventListener("keydown", function(keyboard) {

          if(keyboard.keyCode == 65) {

            // Check if the Francky can move forward
            // 2 rules :
            //   > Not going out of the World
            //   > not on a box of another francky
            // -----------------------------------------------------------------
            var stateMoveOnX = checkXLimit("orientationFrancky<%=idFrancky%>", "posXFrancky<%=idFrancky%>",  <%=IkeoWorld.width%>);
            var stateMoveOnY = checkYLimit("orientationFrancky<%=idFrancky%>", "posYFrancky<%=idFrancky%>",  <%=IkeoWorld.height%>);

            if (stateMoveOnX == false || stateMoveOnY == false) {
              document.getElementById('messageFrancky').innerHTML = 'I am going to fall ...';
              document.getElementById('messageFrancky').style.color = '#F44336';
              return;
            }

            // Test position for all the FranckyFamily
           for (iteratorFrancky = 0; iteratorFrancky < <%=FranckyFamily.length%>; iteratorFrancky++) {

              var stateMove = checkOtherFrancky("orientationFrancky<%=idFrancky%>", "posXFrancky<%=idFrancky%>", "posXFrancky" + iteratorFrancky.toString(), "posYFrancky<%=idFrancky%>", "posYFrancky" + iteratorFrancky.toString());

              if (stateMove == false) {
                document.getElementById('messageFrancky').innerHTML = 'There is already another Francky';
                document.getElementById('messageFrancky').style.color = '#F44336';
                return;
              }

            }


            // If it's ok, let's move the Francky and update informations on the
            // view
            // -----------------------------------------------------------------
            document.getElementById('messageFrancky').innerHTML = 'What a wonderful world !';
            document.getElementById('messageFrancky').style.color = '#00897B';

            moveForwardFrancky("Francky<%=idFrancky%>", "orientationFrancky<%=idFrancky%>");
            updatePositionX("posXFrancky<%=idFrancky%>", "orientationFrancky<%=idFrancky%>");
            updatePositionY("posYFrancky<%=idFrancky%>", "orientationFrancky<%=idFrancky%>");

          } else if (keyboard.keyCode == 39) {

            turnRight("Francky<%=idFrancky%>");
            updateOrientationInformation("orientationFrancky<%=idFrancky%>", 1)

          } else if (keyboard.keyCode == 37) {

            turnLeft("Francky<%=idFrancky%>");
            updateOrientationInformation("orientationFrancky<%=idFrancky%>", 0)

          }
        });

      <% } %>

    </script>

  </body>



</html>
